    <section class="tiles">
        <a class="a-tiles" href="/adminpanel/notes"><div class="option-tile"><div class="tile-text">{{groupName}}</div></div></a>
        <a class="a-tiles" href="/adminpanel/notes"><div class="option-tile"><div class="tile-text">cool option 1</div></div></a>
        <a class="a-tiles" href="/adminpanel/notes"><div class="option-tile"><div class="tile-text">cool option 1</div></div></a>
        <a class="a-tiles" href="/adminpanel/notes"><div class="option-tile"><div class="tile-text">cool option 1</div></div></a>
        <a class="a-tiles" href="/adminpanel/notes"><div class="option-tile"><div class="tile-text">ZARZĄDZANIE PRZEDMIOTAMI</div></div></a>
        <a class="a-tiles" href="/adminpanel/user-management"><div class="option-tile"><div class="tile-text">ZARZĄDZANIE UŻYTKOWNIKAMI</div></div></a>
    </section>