<main>
    <section class="sec-logo">
        <div class="logo"></div>
    </section>
    <section class="sec-form">
        <form method="post">
             <div>
                <label for="login">Cool login:</label><br>
                <input type="text" id="login" name="user_login" size="32">
            </div>
            <div>
                <label for="password">Cool password:</label><br>
                <input type="password" id="password" name="user_password" minlength="8" maxlength="128" size="32">
            </div>
            <div class="button">
                <button type="submit">Cool connect</button>
            </div>
        </form>
    </section>
</main>