<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/authorization/main.css'/>
    <link rel='stylesheet' href='/stylesheets/authorization/logo.css'/>
    <link rel='stylesheet' href='/stylesheets/authorization/login-form.css'/>
  </head>
  <body>
    {{{body}}}
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
  </body>
</html>
