<div class='indicators'>
    <div class="indicator1">INDICATOR1 IDZIE HERE TUTAJ W TYM MIEJSCU</div>
    <div class="indicator2">INDICATOR2 IDZIE HERE TUTAJ W TYM MIEJSCU</div>
</div>
<div class='usrmenu'>

</div>