@charset "utf-8";
/* CSS Document */

#paint {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	height: 100px;
}

#defaultCanvas0 {
	border-style: solid;
	border-color: red;
	border-width: 10px;
}

.color {
	width: 25px;
	height: 25px;
	color: white;
	float: left;
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}

#black {
	background-color: black;
}

#white {
	background-color: white;
}

#yellow {
	background-color: yellow;
}

#orange {
	background-color: orange;
}

#purple {
	background-color: purple;
}

.clear-both {
	clear: both;
}

#size {
	margin-left: 30px;
	float:left;
}